@model UpcomingMoviesApplication.Models.Actor


@{
    ViewBag.Title = "Details";
}

<a href="/Actor/List">Go back to List</a>
<h2>@Model.ActorName</h2>
<div>Age (In years): @Model.ActorAge</div>
<div>Gender: @Model.ActorGender</div>

