@model IEnumerable<UpcomingMoviesApplication.Models.MovieDto>
@{
    ViewBag.Title = "List";
}

<h2>Movie List</h2>
<a href="/Movie/New">Add a new movie</a>

@foreach(var movie in Model)
            {
                <h2><a href="/Movie/Details/@movie.MovieID">@movie.MovieTitle</a></h2>
                <div>Description: @movie.MovieDescription</div>
                <div>Release Date: @movie.MovieReleaseDate</div>
                <div>Duration: @movie.MovieDuration minutes</div>
            }

