@model UpcomingMoviesApplication.Models.ViewModels.DetailsGenre

@{
    ViewBag.Title = "Details";
}

<div style="margin-top:50px;">
    <a href="/Genre/List">Go back to the List</a>
    <a href="/Genre/Update/@Model.SelectedGenre.GenreID">Update</a>
    <a href="/Genre/Delete/@Model.SelectedGenre.GenreID">Delete</a>
</div>


<h2>@Model.SelectedGenre.GenreName</h2>

<div>
    <h2>Movies in @Model.SelectedGenre.GenreName genre:</h2>
    @foreach(var movie in Model.MoviesForGenre)
            {
                <a href="/Movie/Details/@movie.MovieID">@movie.MovieTitle</a><br />
            }
</div>

