@model UpcomingMoviesApplication.Models.GenreDto

@{
    ViewBag.Title = "Update Genre";
}

<a href="/Genre/List">Go back to the List</a>

<h2>Update Genre</h2>

<h3>Updating the details for @Model.GenreName</h3>

<form action="/Genre/Edit/@Model.GenreID" method="post">
    <input type="number" style="display:none" name="GenreID" value="@Model.GenreID" />
    <div>
        <label>Genre Name:</label>
        <input type="text" name="GenreName" value="@Model.GenreName" />
    </div>
    <div>
        <input type="submit" value="Update Genre details" />
    </div>
</form>

